
	<%= form_for @blog, html: {class: "pure-form"} do |f| %>
		<div id="new-blog-form">
			<fieldset class="pure-group">
				<%#= f.label :title, class: "pure-input-1"%>
				<%= f.text_field :title, class: "pure-input-1", placeholder: "blog title" %>
			
				<%#= f.label :body, class: "pure-input-1" %>
				<%= f.text_area :body, class: "pure-input-1", placeholder: "blog body" %>
			</fieldset>
			<fieldset class="pure-controls">
				<%#= f.label :image, class: "pure-input-1" %>
				<%= f.file_field :image, class: "pure-input-1" %>
			</fieldset>

			<%= f.submit "Submit", class: "pure-button" %>
		</div>	
	<% end %>
