<%= render 'sessions/session_control_form' %>

<header>
	<h1>Ele Swims</h1>
</header>

<div class="blog-container">
	<% if current_user && current_user.administrator %>
	<p><%= link_to "+ Add Blog", new_blog_path %></p>
	<% end %>
	<div class="blog">
		<% @blogs.each do |blog|%>
			<div><h2><%= link_to blog.title, blog_path(blog) %></h2></div>
			<%= image_tag blog.image %>
			<p><%= blog.body %></p>
			<% if current_user && current_user.administrator %>
			<p><%= link_to "Delete Blog", blog_path(blog), method: :delete, data: {confirm: "sure?"} %></p>
			<% end %>
			<hr>
		<% end %>
	</div>
	
</div>
