<%= render 'layouts/header' %>
<div class="blog-container">
<%= render 'layouts/nav' %>
	<div class="blog">

		<h1><%= @blog.title %></h1>
		<%= image_tag @blog.image %>
		<p><%= @blog.body %></p>
	

	<% @blog.comments.each do |comment|%>
		
		<p><%= comment.body %> - <%= comment.user.username %>

			<% if current_user && ( comment.user == current_user || current_user.administrator )%>
				<%= link_to "delete", delete_comment_path(comment), method: :delete %>
			<% end %></p>

		<% end %>
		<hr>
	<% if logged_in? %>
		<%= render 'comments/comment_form' %>
	<% end %>
	<p><%= link_to "Back", blogs_path %></p>

	<% if current_user && current_user.administrator %>
		<p><%= link_to "Edit", edit_blog_path %></p>
	<% end %>

	</div>

	

</div>