<%= render 'layouts/header' %>
<div id="user-container">
	<h1>User's Signed Up</h1>

	<ul>
		<% @users.each do |user|%>
			<li>
				<strong><%= link_to user.first_name + " " + user.last_name, user_path(user) %></strong>
				<%= user.username %>
				<strong><%= user.email %></strong>

			</li>
		<% end %>
	</ul>

	<%= link_to 'Home', blogs_path %>
</div>