<!DOCTYPE html>
<html>
<head>
  <title>Eleswims</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:welcome] %>
	    <h4><%= flash[:welcome] %></h4>
	<% end %>

	<% if flash[:error]%>
	  <h4><%= flash[:error] %></h4>
	<% end %>

<%= yield %>

</body>
</html>
