<!DOCTYPE html>
<html>
<head>
  <title>Eleswims</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if logged_in? %>
				Hey, <%= current_user.first_name %>!
				<%= link_to "Log out", logout_path, method: :delete %>
				<%= link_to "My Profile!", user_path(current_user) %>

		<% else %>
				<%= link_to "Login In", login_path %> | <%= link_to "Sign up", signup_path %>
	<% end %>
				

	<% if flash[:welcome] %>
	    <h4><%= flash[:welcome] %></h4>
	<% end %>


	<% if flash[:error]%>
	  <h4><%= flash[:error] %></h4>
	<% end %>


<%= yield %>

</body>
</html>
